<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/navigation') %>
    <section id="sobre-mi" class=" py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-6 mx-auto text-center">
              <h2 class="section-title mb-4 t-text fw-bold ">Sobre <span class="t-text" style="color: #b151f0;">m칤</span></h2>
              <p class="lead">춰Hola! Soy <span style="color: #b151f0;">Eileen</span>, una entusiasta desarrolladora de software con un amor apasionado por transformar ideas en c칩digo.</p>
              <p class="lead"> Mi viaje en el mundo del desarrollo me ha llevado a explorar maneras unicas de dise침ar y desarrollar paginas web. Me especializo en html y css, javascript, Wordpress, figma, Mysql, PhP, Nodejs entre m치s, y estoy siempre ansiosa por sumergirme en nuevos desaf칤os. Siempre en b칰squeda de la pr칩xima innovaci칩n tecnol칩gica,
                 estoy aqu칤 para impulsar proyectos hacia el futuro 游눹</p>
            </div>
          </div>
        </div>
      </section>
  <!-- Educaci칩n -->
  <section id="educacion" class="py-5">
    <div class="container">
        <h2 class="text-center mb-4 t-text pb-5 ">Educa<span style="color: #b151f0;">ci칩n</span></h2>
      <div class="row">
        <div class="col-lg-6">
          <div class="card mb-4 color-card" >
            <div class="card-body">
              <h5 class="card-title">Institucion Educativa</h5>
              <h6 class="card-subtitle mb-2 text-muted">I.E XZ</h6>
              <p class="card-text">Durante mi etapa estudiantil adquir칤 una s칩lida formaci칩n en fundamentos de la inform치tica, algoritmos, estructuras de datos y programaci칩n. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 ">
          <div class="card mb-4 color-card">
            <div class="card-body">
              <h5 class="card-title ">Tecnologo Analidis y Desarrollo de Software</h5>
              <h6 class="card-subtitle mb-2 text-muted">Centro Agroempresarial y Desarrollo Pecuario del huila</h6>
              <p class="card-text">Aprend칤 tecnolog칤as modernas para la creaci칩n de sitios web din치micos y aplicaciones web interactivas.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
<!-- Habilidades -->
<section id="habilidades" class="py-5">
    <div class="container">
      <h2 class="text-center mb-4 t-text">Habil<span style="color: #b151f0;">idades</span></h2>
      <div class="row">
        <div class="col-md-6">
          <h5>Lenguajes de Programaci칩n</h5>
          <div class="progress mb-3">
            <div class="progress-bar bg-custom" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
          </div>
          <h5>Desarrollo Web</h5>
          <div class="progress mb-3">
            <div class="progress-bar bg-custom" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
          </div>
          <h5>Bases de Datos</h5>
          <div class="progress mb-3">
            <div class="progress-bar bg-custom" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
          </div>
        </div>
        <div class="col-md-6">
          <h5>Frameworks y Librer칤as</h5>
          <div class="progress mb-3">
            <div class="progress-bar bg-custom" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
          </div>
          <h5>Manejo de git</h5>
          <div class="progress mb-3">
            <div class="progress-bar bg-custom" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
          </div>
          <h5>Habilidades Interpersonales</h5>
          <div class="progress mb-3">
            <div class="progress-bar bg-custom" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
          </div>
        </div>
      </div>
    </div>
</section>

  
    <%- include('partials/footer') %>
</body>
</html>